.autocomplete-item {
  padding: 8px 12px;
  line-height: 1.4;
  .main-text {
    font-weight: bold;
    color: #333;
  }
  .secondary-text {
    font-size: 0.85em;
    color: #666;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
  }
  .cep {
    color: #0073aa;
    font-weight: bold;
  }
}

