@use 'sass:color';
@import 'variaveis';

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
.pesquisa {
  padding: 2rem 0;
  @include mobile {
    padding: 20px 0;
  }
  .pesquisa-content {
    position: relative;
    @include pesquisa-spinner;
    background-color: $card-bg;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    @include card-style;
    overflow: hidden;
    .pesquisa-footer {
      display: none;
    }
    @include tablet {
      max-width: 95%;
    }
    @include mobile {
      padding: 15px;
    }
    h4 {
      color: var(--color-science-blue);
      text-align: center;
      border-bottom: 1px solid $color-border-caracteristicas;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
    .pesquisa-form, .consulta-form {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        li {
          margin: 0 1em;
          flex-grow: 1;

          min-width: 150px;
          min-height: 64px;

          label {
            font-size: 90%;
            color: $yale-blue;
          }
          &:nth-child(-n+4) {
            @include desktop {
              flex-basis: calc(20% - 16px);
              margin-bottom: 0;
            }
            @include tablet {
              flex-basis: calc(50% - 16px);
              margin-bottom: 15px;
            }

            @include mobile {
              flex-basis: calc(100% - 16px);
              margin-bottom: 10px;
            }
          }
          .select-container {
            position: relative;
            width: 100%;
            select {
              width: 100%;
              height: 40px;
              padding: 0 10px;
              border: 1px solid $input-border-color;
              border-radius: 4px;
              background-color: white;
              cursor: pointer;
              font-size: 1em;
              box-sizing: border-box;
              color: $input-text-color;
            }
          }
          input {
            max-width: 12em;
            padding: 0 10px;
            border: 1px solid $input-border-color;
            border-radius: 4px;
            background-color: white;
            cursor: pointer;
            font-size: 1em;
            box-sizing: border-box;
            color: $input-text-color;
          }
          .input-container {
            position: relative;
            width: 100%;
          }
        }
        li.referencia {
          max-width: 12rem;
          margin-right: 0;
          input {
            max-width: unset;
            width: 100%;
            height: 2.5em;
          }
        }
        li.referencia.sidebar {
          max-width: 100%;
        }
        li.submit {
          padding-top: 1.4em;
        }
        li.submit.pesquisa {
          .submit-container {
            text-align: center;
          }
        }
        li.faixa-valor-slider {
          display: none;
          width: 100%;
          margin: 1em 5em;
          .faixa-container {
            margin-top: 0.5em;
          }
          .slider-rotulo {
            margin-top: 10px;
          }
          @include desktop {
            margin: 1em 4em;
          }
          @include tablet {
            margin: 1em 2em;
          }
          @include mobile {
            margin: 1em 1em;
          }
          .noUi-connect {
            background: $primary-color;
          }
          .noUi-handle {
            border: 2px solid var( --air-superiority-blue );
            border-radius: 1em;
            width: 2em;
            height: 2em;
          }
          .noUi-target {
            border: 1px solid var( --air-superiority-blue );
          }
        }
        li.faixa-valor-slider.sidebar {
          margin: 1em 0;
          .slider-rotulo {
            font-size: 75%;
          }
          .noUi-horizontal .noUi-handle {
          }
        }
        button.button {
          padding: 10px 15px;
          max-width: 300px;
          width: 100%;
          background-color: $primary-color;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          white-space: nowrap;
          text-transform: uppercase;
          &:hover {
            background-color: color.adjust($primary-color, $lightness: -15%);
          }
        }
        .submit-container {
          width:  100%;
          margin-top: 0;
          padding-bottom: 1px;
          text-align: left;
        }
      }
    }
  }
}
section.sidebar.pesquisa {
  padding-top: 1em;
}
.pesquisa {
  .pesquisa-content.sidebar {
    padding: 1em 1em;
    .pesquisa-form {
      ul {
        li.submit {
          padding-top: 0;
        }
      }
    }
  }
}
