@use 'sass:color';
@import 'variaveis';
section.contact {
  position: relative;
  width: 90%;
  margin: auto;
  padding-top: 2em;
  @media (max-width: 1200px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 640px) {
  }
  @media (max-width: 480px) {
  }
  @media (max-width: 390px) {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: $cor_hashura;
    cursor: pointer;
  }
  div.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em;
    aside {
      flex: 1;
      padding: 0.5em;
    }
    .contact-info {
      /*font-size: 150%;*/
      height: 100%;
      position: relative;
      padding: 1em;
      @include card-style;
      h5 {
        &::before, &::after {
          content: none;
          display: none;
        }
        color: $cz9;
        margin: 0 0 5px 0;
      }
      .contact-item {
        position: relative;
        margin-bottom: 1em;
        padding: 1em;
        display: flex;
        align-items: center;
        flex-direction: row;
        border: 2px solid $cor_hashura;
        border-radius: $border-radius;
        background-color: white;
        width: 100%;
        a {
          display: flex;
          align-items: center;
          width: 100%;
          color: inherit;
          text-decoration: none;
          &:hover {
            color: color.adjust($cor_hashura, $lightness: -10%); ;
          }
        }
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2em;
          min-width: 2em;
          height: 2em;
          color: $cor_hashura;
          border: 2px solid $cor_hashura;
          margin-right: 15px;
          border-radius: 50%;
          font-size: 150%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
      .contact-text {
        position: relative;
        width: auto;
        flex-grow: 1;
        padding-left: 15px;

        h5 {
          color: $cor_hashura;
          font-weight: 600;
          margin: 0;
        }
        p {
          margin: 0;
          color: $cz9;
        }
      }
    }
    .contact-form {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      height: 100%;
      border: 1px solid $card-border;
      border-top-left-radius: 0;
      border-top-right-radius: $card-radius;
      border-bottom-right-radius: $card-radius;
      border-bottom-left-radius: $card-radius;
      background-color: $card-bg;
      box-shadow: $card-radius;
      transition: $card-transiction;
      &:hover {
        box-shadow: $card-hover-effect, inset -3px -3px 6px rgba(255, 255, 255, 0.8);
        transform: translateY(-2px);
      }
      header {
        margin-bottom: 25px;
        text-align: center;
        width: 100%;

        h5 {
          font-family: 'Inter', sans-serif;
          color: $cz9;
          margin: 0;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      p {
      }
      input {
        @include meu-input;
      }
      textarea {
        width: 100%;
        height: 2.5em;
        margin-bottom: 15px;
        @include meu-textarea;
      }
      textarea {
        resize: vertical;
        min-height: 10em;
      }
      .btn {
        align-self: flex-end;
        margin-top: 0;
        padding: 1em 2em;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $cor_hashura;
        background: $cor_h;
        border: 2px solid $cor_hashura;
        border-radius: $border-radius;
        transition: .3s;
        &:hover {
          color: $cor_h;
          background: $cor_hashura;
        }
        &:active {
          background-color: #004085;
          transform: translateY(0);
        }
      }
    }
  }
  @media (max-width: 1200px) {
  }
  @media (max-width: 768px) {
    div.container {
      grid-template-columns: 1fr;
      gap: 1.5rem;
      padding: 0 0.5em;
      .contact-info {
        padding: 15px;
        .contact-item {
          margin-bottom: 15px;
          padding: 0.8em;
          i {
            width: 1.8em;
            min-width: 1.8em;
            height: 1.8em;
            margin-right: 8px;
          }
          .contact-text {
          }
        }
      }
      .contact-form {
        padding: 15px;
        input, textarea {
          padding: 8px;
        }
        textarea {
          height: 150px;
        }
        .btn {
          padding: 0.8em 1.5em;
          font-size: 1.2em;
        }
      }
    }
  }
  @media (max-width: 640px) {
  }
  @media (max-width: 480px) {
  }
  @media (max-width: 390px) {
    div.container {
      width: 100%;
      margin: 0 auto;
      grid-template-columns: 1fr;
      gap: 0.25rem;
      padding: 0;
      .contact-form {
        width: 95%;
        margin: 0 auto;
        padding: 0 0.5em;
        form {
          width: 100%;
        }
      }
    }
  }
  section.localizacao {
    width: 100%;
    margin: auto;
    padding: 0 0.5rem 1rem 0.5rem;
  }
}
