@use 'sass:color';
@import 'variaveis';
.footer-line {
  height: 0.5em;
  width: 100%;
  background-color: var( --pantone-2955 );
}
.site-footer {
  color: $footer-color;
  text-align: left;
  .footer-grid {
    background: $footer-background;
    display: grid;
    width: 90%;
    margin: 1em auto;
    grid-template-columns:
      minmax(200px, 1fr)  // logo
      minmax(300px, 1fr)  // Lojas
      minmax(200px, 1fr)  // Redes
      minmax(200px, 1fr); // Links
    gap: 2rem;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1080px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
    }
    @media (max-width: 480px) {
      gap: 1rem;
    }
    h3 {
      margin-top: 0;
      color: #fff;
      font-size: 1.2rem;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }
    @media (max-width: 1200px) {
      .links-uteis {
        display: none;
      }
    }
    @media (max-width: 1080px) {
      .links-uteis {
        display: none;
      }
      .social-networks {
        display: none;
      }
    }
    @media (max-width: 768px) {
      .links-uteis {
        display: none;
      }
      .social-networks {
        display: none;
      }
    }
    @media (max-width: 480px) {
      .links-uteis {
        display: none;
      }
      .redes-social-networks {
        display: none;
      }
    }
    .footer-column {
      &.footer-stores {
        .store {
          border-bottom: 1px dashed rgba(255,255,255,0.05);
          &:last-child {
            margin-bottom: 0;
            border-bottom: none;
          }
          .store-name {
            color: #fff;
            font-size: 1rem;
          }
          .contact {
            padding: 0.5rem 0 0.25rem 0;
          }
          .store-address, .store-contact {
            font-size: 0.9rem;
            line-height: 1.5;
            color: $footer-text-color;
            font-style: normal;
          }
        }
      }
      a {
        color: $footer-text-color;
        text-decoration: none;
        display: block;
        margin-bottom: 0.25rem;
        &:hover {
          color: color.adjust($footer-text-color, $lightness: 10%);;
        }
      }
      .custom-logo {
        width: 200px;
        height: auto;
      }
    }
  }
  .social-contact {
    span {
      display: inline-block;
      line-height:	1.2em;
    }
  }
  .social-contact.whatsapp {
    span {
      color: $cor-whatsapp;
    }
  }
}
.footer-copyright {
  width: 100%;
  text-align: center;
  background-color: var( --color-black );
  color: var( --color-white );
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  p {
    margin: 0;
    padding: 0;
  }
  a {
    color: var( --color-white );
    text-decoration: none;
  }
}
