@use 'sass:color';
@import 'variaveis';

section.block.block-single {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5rem;
  aside.sidebar-pesquisa, article.article-content {
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
article.article-content {
  .imovel-content {
    p {
      text-align: justify;
    }
  }
  section.referencia {
    display: block;
    width: 100%;
    text-align: right;
    margin: 0.5em 1em;
    font-weight: bold;
    a {
      &:hover {
        color: red !important;
      }
    }
  }
  .detalhes {
    width: 100%;
    max-width: calc(25% - 10px);
    @media (max-width: 1600px) {
      max-width: calc(20% - 10px);
    }
    @media (max-width: 1200px) {
      max-width: calc(25% - 10px);
    }
    @media (max-width: 1024px) {
      max-width: calc(33% - 10px);
    }
    @media (max-width: 800px) {
      max-width: calc(33% - 10px);
    }
    @media (max-width: 768px) {
      max-width: calc(50% - 10px);
    }
    @media (max-width: 640px) {
      max-width: 100%;
    }
    @media (max-width: 420px) {
      max-width: 100%;
    }

    margin-bottom: 1em;
    background-color: $bg-light-gray;
    padding: 1em;
    border: 1px solid #ddd;
    border-top-left-radius: 0;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    &:hover {
      box-shadow: $card-hover-effect, inset -3px -3px 6px rgba(255, 255, 255, 0.8);
      transform: translateY(-2px);
    }
    h4 {
      border-bottom: 1px solid $border-color;
      padding-bottom: 10px;
      margin-bottom: 15px;
      color: $text-color;
    }
    .info-row {
      display: flex;
      align-items: center;
      i {
        margin-right: 10px;
        color: $primary-color;
      }
      .label {
        margin-right: 5px;
        &::after{
          content: ":";
          display: inline-block;
          width: 0.5em;
          margin-right: 0.25em;
          vertical-align: middle;
        }
        &::before{
          content: '';
          display: inline-block;
          width: 0.5em;
          vertical-align: middle;
        }
      }
      .value {
        font-weight: bold;
        color: $secondary-text-color;
        white-space: nowrap;      /* Impede a quebra de linha */
        overflow: hidden;         /* Esconde o conteúdo que ultrapassar */
        text-overflow: ellipsis;  /* Adiciona "..." se o texto for cortado */
        display: inline-block;    /* Necessário para overflow funcionar em elementos inline */
        max-width: 140px;         /* Ajuste conforme necessário */
      }
    }
    .info-row.valor {
      i {
        margin-right: 10px;
        color: $secondary-color;
      }
    }
    @media (max-width: 1024px) {
      max-width: calc(33% - 10px);
    }
    @media (max-width: 800px) {
      max-width: calc(33% - 10px);
    }
    @media (max-width: 768px) {
      max-width: calc(50% - 10px);
    }
    @media (max-width: 640px) {
      max-width: 100%;
    }
    @media (max-width: 420px) {
      max-width: 100%;
    }
  }
  section.misc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $gap-spacing;
    margin-top: $gap-spacing;
    padding: 0;
    @media (max-width: 1024px) {
    }
    @media (max-width: 800px) {
    }
    @media (max-width: 768px) {
    }
    @media (max-width: 640px) {
      flex-direction: column;
    }
    @media (max-width: 420px) {
      flex-direction: column;
    }
  }
}
section.content.visinhanca {
  width: 90%;
  margin: 0 auto;
}
