@use 'sass:color';
@import 'variaveis';

.pagination, .paginacao {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  padding: 2px;

  span.page-numbers, a.page-numbers {
    background-color: $bg-light-gray;
    border: 1px solid $primary-color;
    align-items: center;
    color: $text-color;
    font-weight: var(--typography-weight-medium);
    justify-content: center;
    margin: 0.125em;
  }
  span.page-numbers.current {
    background: $alert-color;
    color: white !important;
    font-weight: bold;
  }
  ul.page-numbers {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    list-style: none;
    padding: 0;
    margin: 0.25em;
    padding: 0.5rem 1rem;
    &:last-child {
      width: 6em;
    }
    li {
      display: flex;
      align-items: center;
      a, span {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 2.5rem;
        height: 2.5rem;
        padding: 0 0.5rem;
        font-size: 0.75rem;
        text-decoration: none;
        color: $text-color;
        background: $bg-light-gray;
        transition: all 0.3s ease;
        &:hover:not(.current, .dots) {
          background: $bg-light-gray;
          color: $secondary-text-color;
        }
      }
      .dots {
        pointer-events: none;
      }
      .next, .prev {
        font-weight: bold;
        padding: 0 1rem;
        border-radius: 5%;
        background: $bg-light-gray;
        min-width: 8em;
        &:hover {
          background: color.adjust($bg-light-gray, $lightness: -15%);
        }
      }
    }
  }

  // Responsividade
  @media (max-width: 768px) {
    justify-content: flex-start;
    padding-bottom: 0.5rem;
    .page-numbers {
      padding: 0.25rem;
      gap: 0.1rem;

      li {
        a, span {
          min-width: 2rem;
          height: 2rem;
          font-size: 0.8rem;
        }

        .next {
          padding: 0 0.75rem;
        }
      }
    }
  }
}
