@use 'sass:color';
@import 'variaveis';
$width-max-mobile: 1030px;

header.site-header {
  background-image: url("./../../assets/images/fundo_header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  color: $header-color;
  @media screen and (max-width: $width-max-mobile - 1px) {
    height: unset;
    width: 100%;
    display: block;
  }
  nav {
    text-align: right;
    margin-right: 10%;
    width: auto;
    @media screen and (max-width: $width-max-mobile - 1px) {
      padding-top: 0.5em;
      height: 2.25em;
      width: 100%;
    }
    .nav-toggle {
      margin: 0 auto;
    }

    .menu-items-wrapper {
      display: inline-block;
      text-align: left;
    }
  }

  .site-header {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    @media screen and (max-width: $width-max-mobile - 1px) {
      background-color: var(--pantone-2955);
      width: 100%;
      display: block;
    }
    .site-branding {
      width: 50%;
      min-height: 180px;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: $width-max-mobile - 1px) {
        width: 100%;
        display: block;
      }
      .branding-header {
        flex-grow: 1;
      }
      .branding-footer {
        justify-content: space-between;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        p.branding-description.site-description {
          margin: 0;
          padding: 5px 10px;
          font-size: 120%;
          text-align: center;
          box-sizing: border-box;
          @media screen and (max-width: $width-max-mobile - 1px) {
            color: white;
          }
        }
      }
    }
    .central-atendimento {
      width: 50%;
      padding: 10px;
      box-sizing: border-box;
      text-align: right;
      margin: 60px auto 0 auto;
      @media screen and (max-width: $width-max-mobile - 1px) {
        display: none;
      }
      a {
        img {
          max-height: 72px;
          width: auto;
        }
      }
    }
  }
}
