/* SCSS HEX */
$yale-blue: #003865ff;
$antiflash-white: #eff3f5ff;
$alice-blue: #dee6ebff;
$columbia-blue: #bdccd7ff;
$powder-blue: #9cb2c3ff;
$cadet-gray: #8ca5b9ff;
$air-superiority-blue: #7b98afff;
$lapis-lazuli: #26567cff;

$alert-color: #e63946;
$azul-marinho: #011277;
$bg-light-gray: #e8f8f8;
$border-color: #999;
$border-radius: 5px;
$border-radius-base: 8px;
$border-sep-color: $air-superiority-blue;
$card-bg: var( --alice-blue );
$caracteristicas-font-size: 100%;
$color-background-caracteristicas: var( --alice-blue );
$color-border-caracteristicas: var( --antiflash-white );
$card-border: #ddd;
$card-hover-effect: 1px 1px 2px rgba(0, 0, 0, 0.2);
$card-hover-effect-inset: $card-hover-effect, inset -1px -1px 2px $columbia-blue;
$card-light: inset 1px 1px 2px rgba(255, 255, 255, 0.7);
$card-radius: 1rem;
$card-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
$card-transiction: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$color: #333;
$cor-fundo-cortina: rgba(255, 255, 255, 0.75);
$cor_fundo: #f9f9f9;
$cor-fundo-mensagem: #f8f9fa;
$cor_hashura: #007bff;
$cor_h: #f2f2f2;
$cor-loader-animacao: #007bff;
$cor-loader-padrao: #e9ecef;
$cor-texto-mensagem: #495057;
$cor-whatsapp: #25d366;
$cz9: #999;
$czf: #fff;
$font-size-base: --typography-size-12;
$font-size-title: --typography-size-18;
$font-size-title-imo: --typography-size-16;
$footer-background: var( --rich-black );
$footer-color: #fff;
$footer-text-color: #ccc;
$gap: 1em;
$gap-spacing: 0.5em;
$header-background: var( --pantone-2955 );
$header-color: #fff;
$input-background-color: #fff;
$input-border-color: #007bff;
$input-border-focus: $cor_hashura;
$input-placeholder: #aaa;
$input-shadow-focus: rgba($color, 0.2);
$input-text-color: $color;
$link-color: var( --color-link-text );
$padding-base: 0;
$primary-color: #007bff;
$secondary-color: #007b00;
$secondary-text-color: #555;
$shadow-color: rgba(0, 0, 0, 0.1);
$success-color: $primary-color;
$text-color: $color;
$verde-escuro: #024008;

$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;


@mixin card-style(
  $border: var( --powder-blue ),
  $radius: $card-radius,
  $bg: $card-bg,
  $shadow: 0 2px 8px rgba(0, 0, 0, 0.05),
  $transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
  $hover-shadow: $card-hover-effect, // Novo parâmetro para o hover
  $hover-transform: translateY(-2px) // Efeito de levantar no hover
) {
  border: 1px solid $border;
  border-radius: 0 $radius $radius 0;
  overflow: hidden;
  background-color: $bg;
  box-shadow: $shadow;
  transition: $transition;
  &:hover {
    box-shadow: $card-hover-effect-inset;
    transform: translateY(-2px);
  }
}
@mixin pesquisa-spinner {
  .overlay-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cor-fundo-cortina;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .spinner-container {
      text-align: center;
      p {
        margin-top: 15px;
        font-weight: bold;
        color: #333;
      }
    }
    .spinner {
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 1s linear infinite;
      margin: 0 auto;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}
