$input-border-color: #007bff;
$input-text-color: #000;
$input-background-color: #fff;
$input-placeholder: #aaa;
$input-shadow-focus: rgba($input-text-color, 0.2);
$border-radius: 4px;
$cor-whatsapp: #25d366;
